* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    cursor: default;
}

html,
input {
    font-family: 'Courier New', Courier, monospace;
}

img,
input {
    display: block;
}

body {
    margin: 0 10px 0 10px;
    font-size: 100%;
}

a, button, .btn, #close {
    cursor: pointer;
}

header {
    padding: 5%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 350%;
    font-weight: 100;
    letter-spacing: 6px;
}

main {
    padding: 2.8em 10% 5em 10%;
}

header,
p,
h2,
form,
input,
footer {
    text-align: center;
}

p {
    margin-bottom: 40px;
    line-height: 175%;
}

p.bold {
    font-size: 200%;
    font-weight: bold;
    line-height: 300%;
}

p.no-margin footer p {
    margin: 0;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 12em 2% 5em 2%;
}

footer p {
    line-height: 165%;
    /* margin-top: 2em; */
    margin: 0;
    padding: 0;
}

hr {
   margin-bottom: 2em; 
}

form {
    width: 100%;
    max-width: 800px;
    padding: 8% 2%;
    margin: auto;
}

input {
    font-size: 120%;
    margin: 15px auto 50px auto;
    padding: 3px;
}

.btn {
    display: block;
    max-width: 30%;
    min-width: 200px;
    text-align: center;
    padding: 2em 0;
    color: white;
    background-color: red;
    margin: 5em auto;
}

button {
    margin-top: 75px;
    padding: 20px 50px;
}

[disabled] {
    cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* ====== CUSTOM POP-UP CSS ====== */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#popup {
    animation-name: fadeIn;
    animation-duration: 1s;
}

#popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: honeydew;
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    top: 2%;
    right: 2%;
    left: 2%;
    bottom: 2%;
    border-radius: 20px;
    z-index: 20;
}

.scrollBox {
    margin: 2em 0;
    padding: 1.5em;
    overflow: scroll;
}

.scrollBox p:first-of-type {
    margin-bottom: 2em;
}

#close {
    font-size: 40px;
    color: #333333;
}

@media screen and (min-width:900px) {

    #popup {
        top: 10%;
        right: 10%;
        left: 10%;
        bottom: 10%;
    }
}