* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html, input {
    font-family: 'Courier New', Courier, monospace;
}

img, input {
    display: block;
}

body {
    font-size: 100%;
}

header {
    padding: 5%;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 350%;
    font-weight: 100;
    letter-spacing: 6px;
}

main {
    padding: 2% 10% 2% 10%;
}

header, p, form, input, footer {
    text-align: center;
}

p {
    margin: 0 0 20px 0;
    line-height: 165%;
}

form {
    width: 100%;
    max-width: 800px;
    padding: 8% 2%;
}

form {
    margin: auto;
}

input {
    font-size: 120%;
    margin: 15px auto 50px auto;
    padding: 3px;
}

button {
    margin-top: 75px;
    padding: 20px 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}