* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    cursor: default;
}

html,
input {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0 10px 0 10px;
    font-size: 100%;
    text-align: center;
    color: #444;
}

a,
button,
.btn,
#close {
    cursor: pointer;
}

header {
    padding: 5%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 350%;
    font-weight: 100;
    letter-spacing: 6px;
}

main {
    padding: 2.8em 10% 5em 10%;
}

p {
    margin-bottom: 40px;
    line-height: 175%;
}

p.bold {
    font-size: 225%;
    font-weight: bold;
    letter-spacing: 3px;
}

p.no-margin,
footer p {
    margin: 0;
}

form {
    width: 100%;
    max-width: 800px;
    padding: 8% 2%;
    margin: auto;
}

input {
    display: block;
    font-size: 120%;
    margin: 15px auto 50px auto;
    padding: 3px;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

button {
    margin-top: 75px;
    padding: 20px 50px;
}

[disabled] {
    cursor: not-allowed;
}

.btn {
    display: block;
    max-width: 30%;
    min-width: 200px;
    text-align: center;
    padding: 2em 0;
    color: white;
    background-color: red;
    margin: 5em auto;
}

.btn:hover {
    background-color: green;
    transition: 0.5s;
}

hr {
    margin-bottom: 2em;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 6em 2% 5em 2%;
}